// docker.enabled = true
process.container = 'alexromanko/mamba_rnaseq:latest'
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    withName:MERGE_FQ {
        container = 'alexromanko/rnaseq:latest'
    }
    withName:FASTQC {
        container = 'alexromanko/rnaseq:latest'
    }
    withName:TRIMGALORE  {
        container = 'chrishah/trim_galore'
    }
    withName:STAR_GENOMEGENERATE {
        container = 'alexromanko/rnaseq:latest'
    }
    withName:STAR_ALIGN {
        container = 'alexromanko/rnaseq:latest'
    }
    withName:SAMTOOLS_INDEX {
        container = 'alexromanko/rnaseq:latest'
    }
    withName:RSEM_PREPAREREFERENCE {
        container = 'alexromanko/rnaseq:latest'
    }
    withName:RSEM_CALCULATEEXPRESSION {
        container = 'alexromanko/rnaseq:latest'
    }
}
docker {
    enabled = true
}
