/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/sarek Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

env {
    // ENV0 = "VALUE"
    // ENV1 = params.env1  // use a value from parameters
    // ENV2 = env.ENV1 + 'something' // use another ennvar
    // BGDATA_OFFLINE = "$PATH"
    TMPDIR = "/home/nf_work/"
}


process {
    cpus   = 1
    memory = 6.GB
    time   = 4.h
    shell  = ['/bin/bash', '-euo', 'pipefail']

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel:process_single {
        cpus   = 1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 4
        memory = 20.GB
        time   = 8.h
    }
    withLabel:process_high {
        cpus   = 8
        memory = 40.GB
        time   = 16.h
    }
    withLabel:process_high_long {
        cpus   = 8
        memory = 40.GB
        time   = 200.h
    }
    withName: 'FASTQC'{
        cpus   = 4
        memory = 10000.MB
    }
    withName: 'STAR_ALIGN'{
        cpus   = 8
        memory = 40.GB
    }
    withName: 'PICARD_SORTSAM'{
        cpus   = 2
        memory = 12
    }
}

// process.container = 'docker://alexromanko/mamba_rnaseq:latest'
process {
    withName:MERGE_FQ {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:FASTQC {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:TRIMGALORE  {
	container = 'docker://chrishah/trim_galore'
    }
    withName:FASTP_TRIM_X {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:FASTP_TRIM_CLIP {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:SEQKIT_PAIR_FQ {
	// container = 'docker://staphb/seqkit:latest'
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:UMITOOLS_EXTRACT {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:UMITOOLS_DEDUP {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:UMITOOLS_PREPAREFORRSEM {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:STAR_GENOMEGENERATE {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:STAR_ALIGN {
	container = 'docker://alexromanko/rnaseq:latest'
	// cpus = 8
	// memory = '40 GB'
    }
    withName:CTAT_LIB_BUILD {
	container = 'docker://trinityctat/starfusion:latest'
    }
    withName:STAR_FUSION_STAR {
	container = 'docker://trinityctat/starfusion:latest'
    }
    withName:STAR_FUSION_FIINSPECTOR {
	container = 'docker://trinityctat/starfusion:latest'
    }
    withName:SAMTOOLS_INDEX {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:RSEM_PREPAREREFERENCE {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:RSEM_CALCULATEEXPRESSION {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:RSEM_MERGE_EXPRESSIONS {
	container = 'docker://alexromanko/rnaseq:latest'
    }
    withName:PICARD_SORTSAM {
	container = 'docker://broadinstitute/picard:latest'
    }




    // withName:SAMTOOLS_SORT {
    //     container = 'alexromanko/rnaseq:latest'
    // }
    // withName:SAMTOOLS_FAIDX {
    //     container = 'alexromanko/rnaseq:latest'
    // }
}
