if (params.UMI) {
    process {
	withName: 'STAR_ALIGN' {
	    // ext.args = '--outTmpDir ./tmp'
	}
	withName: 'FASTQC' {
	    publishDir = [
		[
		    path: { "${params.outdir}/reports/fastqc" },
		    mode: 'copy',
		    pattern: "*logs"
		]
	    ]
	    // ext.args = ''
	}
	withName: 'TRIMGALORE' {
	    publishDir = [
		[
		    path: { "${params.outdir}/reports/trimgalore_logs" },
		    mode: 'copy',
		    pattern: "*.{txt,html,zip}"
		]
	    ]
	    // ext.args = ''
	}
	withName: 'FASTP_TRIM_CLIP' {
	    ext.prefix = { "${meta.id}.trim.clip" }
	    ext.args   = {
		[
		    "-Q -L -A",
		    "--trim_front1 2",
		    "--trim_front2 2",
		    "--trim_tail1 10",
		    "--trim_tail2 0"
		].join(' ').trim()
	    }
	    publishDir = [
		[
		    path: { "${params.outdir}/reports/fastp" },
		    mode: 'copy',
		    pattern: "*.html"
		],
		[
		    path: { "${params.outdir}/reports/fastp" },
		    mode: 'copy',
		    pattern: "*.json"
		]
	    ]
	}

	withName: 'UMI_EXTRACT' {
	    publishDir = [
		[
		    path: { "${params.outdir}/reports/umi_extract" },
		    mode: 'copy',
		    pattern: "*.log"
		]
	    ]
	}
	withName: 'UMI_DEDUP_GN' {
	    ext.args = '--multimapping-detection-method=NH'
	    publishDir = [
		[
		    path: { "${params.outdir}/umi_dedup_genome_bam" },
		    mode: 'copy'
		]
	    ]
	}
	withName: 'UMI_DEDUP_TR' {
	    ext.args   = {
		[
		    "--multimapping-detection-method=NH",
		    "--chimeric-pairs=discard",
		    "--unpaired-reads=discard"
		].join(' ').trim()
	    }
	}
	withName: 'PICARD_SORTSAM' {
	    ext.args   = {
		[
		    "--SORT_ORDER queryname",
		    "--CREATE_INDEX true",
		    "--TMP_DIR ./tmp"
		].join(' ').trim()
	    }
	    ext.bam_label = "UMI_dedup_QuerySorted"
	}
    }
}

process {
    withName: 'STAR_ALIGN' {
	// ext.args = '--outTmpDir /tmp/star_tmp'
    }
    withName: 'FASTP_TRIM_X' {
	ext.prefix = { "${meta.id}.trim.poly_x" }
	ext.args   = {
	    [
		"-Q -L -A",
		"--trim_poly_g",
		"--poly_g_min_len 10",
		"--trim_poly_x",
		"--poly_x_min_len 10"
	    ].join(' ').trim()
	}
	publishDir = [
	    [
		path: { "${params.outdir}/reports/fastp" },
		mode: 'copy',
		pattern: "*.html"
	    ],
	    [
		path: { "${params.outdir}/reports/fastp" },
		mode: 'copy',
		pattern: "*.json"
	    ]
	]
    }
}
